*.pyc
*.pyo
routing.cfg
ansible.cfg
terraform/*
!terraform/inventory/
!terraform/inventory/.gitkeep
!terraform/vars/
!terraform/vars/.gitkeep
files/*
!files/.gitkeep
config/*
!config/aws.yml
!config/main.yml.sample
!config/mission.yml.sample
ansible/*
!ansible/install_gophish.yml
!ansible/install_mail.yml
!ansible/install_node.yml
!ansible/install_responder.yml
!ansible/install_router.yml
!ansible/install_vpn.yml
!ansible/install_web.yml
!ansible/files/
ansible/files/*
!ansible/files/.gitkeep
!ansible/roles/
ansible/roles/*
!ansible/roles/node/
!ansible/roles/redinfra_vpn/
!ansible/roles/router/
!ansible/roles/mail/
!ansible/roles/responder/
!ansible/roles/web/
#!ansible/roles/mail/defaults/main.yml
#!ansible/roles/mail/tasks/setup_gophish.yml  
#!ansible/roles/mail/tasks/setup_postfix_dovecot_roundcube.yml
#!ansible/roles/mail/templates/add_sending_profile.py  
#!ansible/roles/mail/templates/apache.conf.j2 
#!ansible/roles/mail/templates/config.json.j2  
#!ansible/roles/mail/templates/dovecot.conf.j2  
#!ansible/roles/mail/templates/gophish.service.j2  
#!ansible/roles/mail/templates/main.cf.j2  
#!ansible/roles/mail/templates/master.cf.j2  
#!ansible/roles/mail/templates/sasl_passwd.j2  
#!ansible/roles/mail/templates/virtual_domains.j2  
#!ansible/roles/mail/templates/virtual_mailbox.j2
#!ansible/roles/node/tasks/setup_firewall.yml  
#!ansible/roles/node/tasks/setup_vpn.yml
#!ansible/roles/redinfra_vpn/tasks/generate_certificate.yml  
#!ansible/roles/redinfra_vpn/tasks/install.yml  
#!ansible/roles/redinfra_vpn/tasks/main.yml
#!ansible/roles/responder/tasks/setup_responder.yml
#!ansible/roles/router/tasks/install_new_node.yml  
#!ansible/roles/router/tasks/install.yml  
#!ansible/roles/router/tasks/setup_config.yml  
#!ansible/roles/router/tasks/uninstall_node.yml
#!ansible/roles/web/tasks/setup_apache.yml
#!ansible/roles/web/templates/apache.conf.j2
