*.pyc
*.pyo
*.hcl
routing.cfg
ansible.cfg
terraform/*
!terraform/inventory/
terraform/inventory/*
!terraform/inventory/.gitkeep
!terraform/vars/
terraform/vars/*
!terraform/vars/.gitkeep
files/*
!files/.gitkeep
config/*
!config/aws.yml
!config/main.yml.sample
!config/mission.yml.sample
ansible/*
!ansible/install_gophish.yml
!ansible/install_mail.yml
!ansible/install_node.yml
!ansible/install_responder.yml
!ansible/install_router.yml
!ansible/install_vpn.yml
!ansible/install_web.yml
!ansible/install_mythic.yml
!ansible/files/
ansible/files/*
!ansible/files/.gitkeep
!ansible/inventory/
ansible/inventory/*
!ansible/inventory/.gitkeep
!ansible/roles/
ansible/roles/*
!ansible/roles/node/
!ansible/roles/redinfra_vpn/
!ansible/roles/router/
!ansible/roles/mail/
!ansible/roles/responder/
!ansible/roles/web/
!ansible/roles/mythic/
