
[AWS]
regions = eu-west-3,eu-east-1,ap-northeast-1
access_key_id = AWS_KEY
secret_access_key = SECRET
tags = Team: RedTeam;Owner: Exemple

[CloudFlare]
api = API_KEY

[SendGrid]
api = API_KEY

[Routing]
vpn_interface = tap0
iptables_chain = redinfra
vpn_range = 192.168.56.0/24
redirector_vpn_ip = 192.168.56.1
rule_start_table = 10
rule_priority = 30000
