<VirtualHost *:80>
    ServerName {{ item }}

    # Redirect all HTTP traffic to HTTPS
    RewriteEngine On
    RewriteCond %{HTTPS} !=on
    RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R=301,L]
</VirtualHost>

<VirtualHost *:443>
    ServerName {{ item }}
    SSLEngine on
    SSLCertificateFile      /etc/ssl/certs/ssl-cert-snakeoil.pem
    SSLCertificateKeyFile   /etc/ssl/private/ssl-cert-snakeoil.key



    {% for uri in gophish_uris %}
    # Redirect specific URI to GoPhish
    ProxyPass {{ uri }} http://127.0.0.1:81{{ uri }}
    ProxyPassReverse {{ uri }} http://127.0.0.1:81{{ uri }}

    <Location {{ uri }}>
        Require all granted
    </Location>

    {% endfor %}

    # Serve Apache normally for other requests
    DocumentRoot /var/www/{{ item }}
    <Directory /var/www/{{ item }}>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>
</VirtualHost>
